.logIn {
    height: 100vh;
    background: #fff;
    color: var(--selectColor);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logIn h1 {
    margin-bottom: 3em;
}

.logIn form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.logIn .input {
    border: 1.5px solid var(--selectColor);
    width: 100%;
    margin-bottom: 5em;
    color: var(--selectColor);
}

.logIn .input:focus {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.178) !important;
}

.logIn .input::placeholder {
    color: var(--selectColor);
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .logIn form {
        width: 45%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .logIn form {
        width: 60%;
    }
}

@media screen and (min-width: 415px) and (max-width: 600px) {
    .logIn form {
        width: 70%;
    }
}

@media screen and (max-width: 414px) {
    .logIn form {
        width: 80%;
    }
}