@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --selectColor: #20C8C8;
}

* {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

body {
    background: transparent linear-gradient(155deg, #20C8C8 0%, #611D95 100%) 0% 0% no-repeat padding-box;
}

::placeholder {
    color: #DBE2F8;
    font-size: 1rem;
    text-align: center;
}